# Exclude all files/directories except the ones I want
/*
!/.config
/.config/*

### Config file directory
#
# Compton
!/.config/compton.conf.test
#
# Fonts
!/.config/fontconfig
/.config/fontconfig/*
!/.config/fontconfig/fonts.conf
#
# GTK 3
!/.config/gtk-3.0
/.config/gtk-3.0/*
!/.config/gtk-3.0/gtk.css
#
# i3
!/.config/i3
/.config/i3/*
!/.config/i3/config
#
# termite
!/.config/termite
/.config/termite/*
!/.config/termite/config
#
# neofetch
!/.config/neofetch
/.config/neofetch/*
!/.config/neofetch/config

# Git related files
!.gitignore

# GTK 2
!.gtkrc-2.0

# Mozilla Firefox related files
!/.mozilla/
/.mozilla/*
!/.mozilla/firefox
/.mozilla/firefox/*
!/.mozilla/firefox/n1ggxgzt.default
/.mozilla/firefox/n1ggxgzt.default/*
!/.mozilla/firefox/n1ggxgzt.default/chrome
/.mozilla/firefox/n1ggxgzt.default/chrome/*
!/.mozilla/firefox/n1ggxgzt.default/chrome/userChrome.css

# Vim related files
!.vimperatorrc
!.vimrc

# Xorg related files
!.xinitrc
!.Xresources
!.xserverrc

# Zsh related files
!.zshrc
!.zprofile
