# Exclude all files/directories except the ones I want
/*
!/.config
/.config/*

# TODO file
!/Desktop
/Desktop/*
!/Desktop/todo

### Config file directory
#
# bspwm
!/.config/bspwm
/.config/bspwm/*
!/.config/bspwm/bspwmrc
#
# compton
!/.config/compton.conf
#
# fonts
!/.config/fontconfig
/.config/fontconfig/*
!/.config/fontconfig/fonts.conf
#
# GTK 3
!/.config/gtk-3.0
/.config/gtk-3.0/*
!/.config/gtk-3.0/gtk.css
#
# i3
!/.config/i3
/.config/i3/*
!/.config/i3/config
#
# mpd
!/.config/mpd
/.config/mpd/*
!/.config/mpd/mpd.conf
#
# ncmpcpp
!/.config/ncmpcpp
/.config/ncmpcpp/*
!/.config/ncmpcpp/config
!/.config/ncmpcmpp/bindings
#
# neofetch
!/.config/neofetch
/.config/neofetch/*
!/.config/neofetch/config
#
# polybar
!/.config/polybar
/.config/polybar/*
!/.config/polybar/config
!/.config/polybar/launch.sh
#
# sxhkd
!/.config/sxhkd
/.config/sxhkd/*
!/.config/sxhkd/sxhkdrc
#
# termite
!/.config/termite
/.config/termite/*
!/.config/termite/config
#
# webhub 
!/.config/webhub
/.config/webhub/*
!/.config/webhub/webhub.html
!/.config/webhub/webhub.css

# Dircolors
!.dircolors

# Git related files
!.gitignore

# GTK 2
!.gtkrc-2.0

# Mozilla Firefox related files
!/.mozilla
/.mozilla/*
!/.mozilla/firefox
/.mozilla/firefox/*
!/.mozilla/firefox/ekep42w0.default
/.mozilla/firefox/ekep42w0.default/*
!/.mozilla/firefox/ekep42w0.default/chrome
/.mozilla/firefox/ekep42w0.default/chrome/*
!/.mozilla/firefox/ekep42w0.default/chrome/userChrome.css
#
!.vimperatorrc

# Vim related files
!.vimrc

# Xorg related files
!.xinitrc
!.Xresources
!.xserverrc

# Zsh related files
!.zshrc
!.zprofile
