! ----------------
! Rofi Color Theme
! ----------------
rofi.width: 20
rofi.padding: 7 
rofi.bw: 3
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.color-enabled: true
rofi.color-window: argb:B3000000, argb:FF1FAD83, argb:B3000000
rofi.color-normal: argb:00000000, argb:FFafffa3, argb:00000000, argb:00000000, argb:FF1FAD83
rofi.color-active: argb:00000000, argb:FFafffa3, argb:00000000, argb:00000000, argb:FF1FAD83
rofi.color-urgent: argb:00000000, argb:FFafffa3, argb:00000000, argb:00000000, argb:FF1FAD83
